<div class="otodokebox">
	<h2>お届け情報の入力</h2>
	<br>

  <%= form_tag confirm_orders_path,method: :get do %>

    <div class="field">
      お名前/姓：<%= text_field_tag :last_name, current_user.last_name %>
    </div>

    <div class="field">
     フリガナ/セイ：<%= text_field_tag :last_name_kana,  current_user.last_name_kana %>
    </div>

    <div class="field">
      お名前/名：<%= text_field_tag :first_name,  current_user.first_name %>
    </div>

    <div class="field">
      フリガナ/メイ：<%= text_field_tag :first_name_kana,  current_user.first_name_kana %>
    </div>

    <div class="field">
      郵便番号：<%= text_field_tag :postal_code,  current_user.postal_code %>
    </div>

    <div class="field">
      住所：<%= text_field_tag :address,  current_user.address %>
    </div>

    <div class="field">
      TEL：<%= text_field_tag :tel_num,  current_user.tel_num %>
    </div>

    <div class="field">
			配送方法：<%= select_tag :deliver, options_for_select(
      [["宅急便","home_delivery"],["メール便","mail_delivery"],["コンビニ受け取り","receiving_at_a_convenience"],["店頭受取","over_the_counter_receives"]]
      ) %>
    </div>

    <div class="field">
    お支払い方法：<%= select_tag :payment, options_for_select([["銀行振込", "bank_transfer"], ["クレジット", "credit_card"],["店頭支払","pay_at_store"]]) %>
    </div>
    <div>
      <table>
        <caption>ご注文内容</caption>
          <tr>
            <td>タイトル</td>
            <td>アーティスト名</td>
            <td>枚数</td>
            <td>料金</td>
          </tr>
            <% @cart_items.each do |cart_item| %>
            <!-- 第一引数に[]をつけると、各formのnameの値がcart_items[:id][:カラム名]という感じで展開される -->
            <!-- 構造的には、ハッシュの中にハッシュ -->
            <!-- なので、ストロングパラメータで配列を使い展開 -->
            <%= fields_for("cart_items[]",cart_item) do |c| %>
          <tr>
            <td><%= cart_item.item.item_name %></td>
            <td><%= cart_item.item.artist.artist_name %></td>
            <!-- <td><%#= cart_item.quantity %></td> -->
            <td><%= c.number_field :quantity,max: cart_item.item.stock.quantity %></td>
            <td><%= cart_item.item.price %></td>
            <%#= fields_for(:items,cart_item.item) do |i| %>
            <%#= i.hidden_field :id %>
            <%#= i.fields_for(:cart_items,cart_item) do |c| %>
            <!-- <td><%#= c.check_box :_destroy %></td> -->
            <%#= c.hidden_field :id %>
          </tr>
          <%# end %>
            <% end %>
          <% end %>
      </table>
    </div>

    <div class="field">
      合計金額：<%= @total_price %>
      <%= hidden_field_tag :total_price, @total_price %>
    </div>

    <br>
<!--
      <div class="field">
       	神南レコードのメールマガジンに登録しますか？
        <%#= check_box :remember_me %>
      </div> -->

		<div class="otodokebutton">
	    <div class="actions">
	      <%= submit_tag "確認画面へ行く" %>
	    </div>
		</div>

  <% end %>

</div>
