<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table>
     <h2 class="text-center">カート</h2>
     <% if @cart_items.presence %>
     <tr class="columntitle">
      <th>　　　　</th>
      <th>アルバム名</th>
      <th>アーティスト名</th>
      <th>価格</th>
      <th>数量</th>
      <th>削除</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><% if cart_item.item.image.present? %>
        <%= attachment_image_tag cart_item.item, :image, :fill, 200, 200,class: "cart_image" %>
        <% else %>
        <%= image_tag 'no_image.jpg', size: '200x200',alt: "no image" ,class: "cart_image"%>
        <% end %></td>
        <td><%= link_to cart_item.item.item_name, item_path(cart_item.item) %></td>
        <td><%= cart_item.item.item_name %></td>
        <td><%= cart_item.item.price %>円</td>
        <%= form_for(cart_item, url: update_item_path) do |f| %>
        <td><%= f.number_field :quantity, value: cart_item.quantity %><%= f.submit %></td>
        <%= f.hidden_field :item_id,value: cart_item.item_id %>
        <% end %>
        <td><%= link_to  delete_item_path(cart_item.item),method: :delete do %>
          <button type="button">削除する</button>
          <% end %></td>
        </tr>
        <% end %>
      </table>
      <div class="shokei">
        <p>小計：<%= @total_price %></p>
      </div>
      <div class="buttonwrap">
        <%= link_to delete_all_path(current_user.cart),method: :delete do %>
        <button type="button">カートを空にする
        </button><% end %>

        <button type="button" name="aaa" value="aaa">
          <%= link_to "会計する",new_order_path %>
        </button>
      </div>
      <% else %>
      <p class="non_cart">商品はありません</p>
      </table>
      <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
