<main>
	<div class="album_case">
		<% if @item.image.present? %>
      <%= attachment_image_tag @item, :image, :fill, 200, 200 %>
      <% else %>
      <%= image_tag 'no_image.jpg', size: '200x200',alt: "no image" %>
      <% end %>
		<div class="album_small_info">
			<ul>
				<li>CD名:<%= @item.item_name %></li>
				<li>アーティスト名：<%= @item.artist.artist_name %></li>
				<li>価格：<%= @item.price %></li>
				<li>評価：★★★☆☆</li>
        <% unless current_user.presence %>
        <li><%= link_to "ログインしてください。",new_user_session_path %></li>
          <% else %>
          <% if current_user.cart_item_exists?(@item) %>
          <%= link_to 'カートから外す',delete_item_path(@item),method: :delete %>
          <% else %>
           <%= form_for(@cart_item,url: add_item_path) do |f| %>
        <li><%= f.number_field :quantity,value: 1 %></li>
        <%= f.hidden_field :item_id, value: @item.id %>
        <li>
            <%= f.submit "カートに入れる" do %>
            <button type="button" name="aaa" value="aaa"></button></li>
            <% end %>
            <% end %>
          <% end %>
        <% end %>
          <li><button type="button" name="aaa" value="aaa">お気に入り</button></li>
        </ul>
      </div>
    </div>

    <div class="album_big_info">
      <h2>商品情報</h2>
      <ul>
       <li>アルバム名：<%= @item.item_name %></li>
       <li>アーティスト名：<%= @item.artist.artist_name %></li>
       <li>価格：\<%= @item.price %></li>
       <% @item.item_genres.each do |item_genre| %>
        <li>ジャンル：<%= item_genre.genre.genre_name %></li>
       <% end %>
       <li>カテゴリ：<%= @item.category.category_name %></li>
       <li>発売日：<%= @item.release_date %></li>
       <li>枚数：<%= @item.tracks.disc_num_of_sheets %></li>
       <li>合計時間：<%= @item.tracks.sum_of_songs %></li>
       <%# binding pry %>
       <li>レーベル：<%= @item.label %></li>
     </ul>
   </div>

   <div class="album_disc_info">
     <h3>Disc1</h3>
     <table class="album_table">
      <tr class="album_title">
       <th>No.</th>
       <th>曲名</th>
       <th>収録時間</th>
     </tr>
     <%# @item..each do |song| %>
<!-- 				<tr>
					<td>1</td>
					<td>女々しくて</td>
					<td>120:39</td>
				</tr>	 -->
			</table>
			<p>合計時間：999分</p>
    </div>
  </main>
