<!DOCTYPE html>
<html>
  <head>
    <title>神南レコード</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="brandlogo">
          <img src="/assets/jinnanlogo.png">
        </div>
        <ul>
            <% if user_signed_in? %>
            <li><%= link_to 'MyPage', user_path(current_user) %></li>
            <% if current_user.cart.presence %>
            <li><%= link_to 'Cart', cart_path(current_user.cart) %></li>
            <% end %>
            <li><%= link_to 'LogOut', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'LogIn', new_user_session_path %></li>
            <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
     @神南レコード @Infratop 2017
    </footer>
  </body>
</html>
